.tamanioTexto{
    width:200px;
}
.h1{
  text-align: justify;  
}
.table{
  display: table;
  width: 35%;
}
.tr{
  display: table-row;
}
.td{
  display: table-cell;
}
.tdTexto{
  display: table-cell;
  text-align: right;
}